.kirmashPage__container {
    display: flex;
    flex-direction: row;
    margin: 1% 1% 0 2%;
    // justify-content: space-between
}

.kirmashPage__container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.slider_size{
    display: flex;
    justify-content: center;
}

.slider_size div:first-child {
    width: 840px !important; 
    height: 450px !important;
    transition: width 0.3s ease-in-out;

}
  
  @media (max-width: 1400px ) {
    .slider_size div:first-child {
      width: 560px !important;
      height: 380px !important;
    }
  }
  
  @media (max-width: 810) {
    .slider_size div:first-child {
      width: 610px !important;
      height: 300px !important;
    }
  }
  
  @media (max-width: 768px) {
    .slider_size div:first-child {
      width: 480px !important;
      height: 270px !important;
    }
  }
  
  @media (max-width: 576px) {
    .slider_size div:first-child {
      width: 320px !important;
      height: 180px !important;
    }
  }
  

